/*  
    Set whole webpage to margin 0 and padding 0
    Box Sizing allow us to include padding and border in the width and height
*/
* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: sans-serif;
}

/* Webpage */
.webpage {
    position: relative;
    width: 100%;
    height: 100vh;
    height: auto;
    background-color: rgb(0, 0, 0, 0.95);
}

/* title */
.title {
    color: orange;
    letter-spacing: 3px;
    font-size: 30px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

/* navigation bar */
.navholder {
    background-color: black;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 95%;
    padding: 20px 10px;
    margin: auto;
}

/* link */
a {
    display: inline-block;
    text-decoration: none;
    color: white;
    padding: 10px;
    margin: 5px 10px;
    letter-spacing: 1px;
    font-size: 20px;
    font-weight: bold;
    transition: all 1s ease 0s;
}

a:hover:not(.active) {
    color: rgb(255, 165, 0, 0.8);
}

.active {
    color: orange;
}

/* Content */
/* main body */
.body1 {
    width: 100%;
    height: 87.5vh;
    display: flex;
}

/* left introduction word */
.content {
    width: 50%;
    margin-left: 5%;
    margin-top: 15%;
    color: white;
}

.content .h2 {
    margin-bottom: 15px;
    color: white;
}

.img {
    width: 45%;
    height: 85%;
    position: absolute;
    bottom: 0;
    right: 100px;
}

.img img {
    height: 100%;
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translateX(-60%);
    transition: left 1s;
}

.img:hover .user {
    left: 62%;
}

.img:hover .bg {
    left: 40%;
}

/* Contact button */
.contact {
    border: 1px solid orange;
    border-radius: 10px;
    transition: all 0.8s ease 0s;
    padding: 0;
    margin: 0;
    margin-top: 10px;
    padding: 5px;
    background-image: linear-gradient(to right, rgb(0, 0, 0, 0.6), rgb(255, 165, 0, 0.3), rgb(0, 0, 0, 0.6));
}

.contact:hover {
    transition: 1s;
}

/* About page */
.body2 {
    width: 80%;
    height: 125vh;
    display: flex;
    justify-content: space-between;
    margin-left: 10%;
    margin-right: 10%;
}

/* margin top between nav bar */
.border {
    margin-top: 20px;
    padding: 5px;
}

/* left side with picture use for side content */
.sidecontent {
    width: 35%;
    display: block;
}

.picturebox {
    width: 100%;
    height: 300px;
}

.img2 {
    width: 50%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

.img2 img {
    width: 40%;
    height: 25%;
    position: absolute;
    top: 130px;
    left: 216px;
}

.user1 {
    margin-left: 30px;
    padding-bottom: 1px;
}

.personalinfo {
    width: 100%;
    height: 50%;
    color: white;
}

/* developer info  */
.infobox {
    margin-top: 10%;
    margin-left: 15%;
    line-height: 35px;
}

/* content for about, skill, contact */
.content1 {
    color: white;
    width: 64%;
    padding-top: 3%;
    padding-left: 20px;
}

/* About me section */
.aboutme {
    text-align: justify;
}

.aboutme p {
    line-height: 23px;
}

/* my skill section */
.myskills {
    width: 100%;
}

.skillbox {
    display: flex;
    justify-content: space-between;
    margin-top: 4%;
}

.item {
    width: 24%;
    background-color: rgb(255, 255, 255, 0.8);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80px;
    position: relative;
    top: 0;
    transition: top ease 0.5s;
}

.item:hover {
    top: -10px;
}

.img-1 {
    margin-left: 15px;
    width: 50%;
    height: 80%;
}

.img-2 {
    margin-left: 15px;
    width: 35%;
    height: 80%;
}

.img-3 {
    width: 40%;
    height: 80%;
}

.img-4 {
    margin-left: 15px;
    width: 40%;
    height: 80%;
}

.img-5 {
    margin-left: 15px;
    width: 40%;
    height: 80%;
}

.img-6 {
    margin-left: 15px;
    width: 50%;
    height: 75%;
}

.img-7 {
    width: 50%;
    height: 80%;
}

.img-8 {
    margin-left: 20px;
    width: 40%;
    height: 70%;
}

/* Contact me secton */
.contactme {
    width: 100%;
}

.contactbox {
    display: flex;
    justify-content: space-between;
}

.box {
    margin-top: 20px;
    width: 32%;
    height: 150px;
    background-color: rgb(255, 255, 255, 0.9);
    border-radius: 5px;
    text-align: center;
}

.hr {
    border-bottom: 2px solid black;
}

.boxcontact {
    margin-top: 15px;
}

/* Project page */
.body3 {
    width: 90%;
    background-color: rgb(0, 0, 0, 0.1);
    height: 100vh;
    height: auto;
    color: white;
    margin-left: 5%;
    margin-right: 5%;
}

.projectbox {
    width: 100%;
}

.projectimg {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.projectimg img {
    width: 49.5%;
}

span {
    color: orange;
}






